#dropdown-nav {
	left: 400px;
}
body {
	text-align: center;
	text-shadow: 2px 2px 2px #FFFFFF;
	background-image: url('/img/bcg_slide-2.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
.row {
	position: relative;
	top: 150px;
}