#dropdown-nav {
	left: 400px;
}
.guidebar {
	float: left;
	position: relative;
	margin-bottom: 30px;
	margin: 50px;
    width: 500px;
}
.posts-container {
/*	border: 1px solid black;*/
	float: right;
	position: relative;
	margin-left: 0px;
	margin-top: 42px;
	padding-top: 10px;
	padding-bottom: 300px;
}
body {
	text-align: center;
	text-shadow: 2px 2px 2px #FFFFFF;
	background-image: url('/img/bcg_slide-2.jpg');
	background-repeat: no-repeat;
	background-position: center;
}