#dropdown-nav {
	left: 400px;
}
body {
	/*text-align: center;*/
	text-shadow: 2px 2px 2px #FFFFFF;
	background-image: url('/img/landingBG.png');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    padding-top: 0px;
}
.top {
	padding-top: 70px;
}
.guidebar {
	float: left;
	position: relative;
	margin-bottom: 30px;
	margin: 50px;
    width: 500px;
}
.logo {
	padding-left: 574px;
}

/******* about *******/
	.container .jumbotron-about {
		border-radius: 6px;
		background-color: rgba(0, 0, 0, 0);
	}
	.jumbotron-about {
		padding: 30px;
		margin-bottom: 30px;
		margin-top: 75px;
		color: inherit;
		background-color: rgba(238, 238, 238, 0);
	}
	#h1-about {
		font-size: 50px;
	}
	#p-about {
		font-size: 20px;
	}
/****** contact us ******/
	.carousel {
		width: 140px; 
		height: 140px;
	}
	.contact-us {
		padding-top: 160px;
	}

/******* landing *******/
	#landing-jumbotron {
		padding-top: 0;
	}

/******* Home *******/
	.posts {
        background-color: rgba(19, 130, 199, 0.2); 
        border-radius: 6px;
        padding: 10px; 
        margin-bottom: 20px;  
    }
    .posts-btn {
        border: 1px solid rgba(0, 41, 252, 0.35);
        border-radius: 100px;
        background-color: rgba(240, 248, 255, 0);
    }
    .post-pic {
    	width: 150px;
    }
    .post-pic img {
		max-width: 100%;
	}
	.pull-left {
		margin-right: 20px;
	}

/******* profile *******/
	.container .jumbotron-profile {
		border-radius: 6px;
		background-repeat: no-repeat;
		background-position: center;
	    background-image: url('/img/FancyfbBG.jpg');
	    padding-bottom: 130px;
	    margin-bottom: 75px;
	    height: 230px;
/*		padding-top: 15px;
		padding-bottom: 50px;
		margin-top: 51px;*/
	}
	.jumbotron-profile {
		position: relative;
	}
	.content {
		padding-top: 50px;
	}
	#about {
		color: #fff;
		background-color: #1F88F1;
		border-color: #357ebd;
	}
	#about-style {
		width: 100px;
		position: absolute;
		right: 80px;
		bottom: 10px;
	}
	.profile-img {
		width: 250px;
		position: absolute;
		left: 30px;
	}
	.profile-img img {
		max-width: 100%;
	}
	p {
		text-shadow: 2px 2px 2px #FFFFFF;
	}
	.posts-container-profile {
	/*	border: 1px solid black;*/
		float: right;
		position: relative;
		margin-left: 0px;
		margin-top: 42px;
		padding-top: 10px;
		padding-bottom: 300px;
	}
	.comments {
        margin-bottom: 0;
        font-size: 12px;
        border: 1px solid rgba(0, 41, 252, 0.35);
        border-radius: 100px;
        margin: 5px;
        background-color: rgba(240, 248, 255, 0);
    }
    
    .ggl {
        margin: 5px;
        margin-bottom: 7px;
    }
    h3 {
    	margin-top: 0px;
    }

