#dropdown-nav {
	left: 700px;
}
body {
	text-align: center;
	background-image: url('/img/jumbotron.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
.jumbotron {
	background-color: #91E6FF;
	padding: 30px;
	margin-bottom: 30px;
	float: left;
	margin: 20px;
    width: 500px;
}

.container .jumbotron {
border-radius: 6px;
background-color: #91E6FF;
}

#about {
	color: #fff;
	background-color: #1F88F1;
	border-color: #357ebd;
}
h4 {
	width: 265px
}
#container {
	float: right;
    margin: 50px;
    width: 500px;
}
#radio {
	margin-left: 13px; 
	width: 310px
}
/*#bday-year {
	padding-left: 0px; 
	width: 101px; 
	padding-right: 0px; 
	margin-left: 50px;
}
#bday-month {
	padding-left: 0px; 
	width: 101px; 
	padding-right: 0px; 
	margin-left: 10px;
}
#bday-day {
	
	
	
	
}*/




