#dropdown-nav {
	left: 400px;
}
body {
	/*text-align: center;*/
	text-shadow: 2px 2px 2px #FFFFFF;
	background-image: url('/img/landingBG.png');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    padding-top: 70px;
}
.guidebar {
	float: left;
	position: relative;
	margin-bottom: 30px;
	margin: 50px;
    width: 500px;
}

/******* about *******/
	.container .jumbotron-about {
		border-radius: 6px;
		background-color: rgba(0, 0, 0, 0);
	}
	.jumbotron-about {
		padding: 30px;
		margin-bottom: 30px;
		margin-top: 75px;
		color: inherit;
		background-color: rgba(238, 238, 238, 0);
	}
	#h1-about {
		font-size: 50px;
	}
	#p-about {
		font-size: 20px;
	}

/******* landing *******/
	#landing-jumbotron {
		padding-top: 0;
	}

/******* Home *******/
	.guidebar-home {
		float: left;
		position: relative;
		margin-bottom: 30px;
		margin: 50px;
	    width: 500px;
	}
	.posts-container-home {
	/*	border: 1px solid black;*/
		float: right;
		position: relative;
		margin-left: 0px;
		margin-top: 42px;
		padding-top: 10px;
		padding-bottom: 300px;
	}



/******* profile *******/
	.container .jumbotron-profile {
		border-radius: 6px;
		background-repeat: no-repeat;
		background-position: center;
	    background-image: url('/img/FancyfbBG.jpg');
	    padding-bottom: 130px;
	    margin-bottom: 75px;
	    height: 230px;
		padding-top: 15px;
		padding-bottom: 50px;
		margin-top: 51px;
	}
	.jumbotron-profile {
		position: relative;
	}
	#h1-profile {
		font-size: 50px;
	}
	#p-profile {
		font-size: 20px;
	}
	#about {
		color: #fff;
		background-color: #1F88F1;
		border-color: #357ebd;
	}
	#about-style {
		width: 100px;
		position: absolute;
		right: 80px;
		bottom: 10px;
	}
	.img-thumbnail {
		width: 250px;
		position: absolute;
		left: 30px;
	}
	.img-thumbnail img {
		max-width: 100%;
	}
	p {
		text-shadow: 2px 2px 2px #FFFFFF;
	}
	.guidebar-profile {
	/*	border: 1px solid black;*/
		float: left;
		position: relative;
		margin-bottom: 30px;
		margin: 20px;
	    width: 500px;
		padding: 30px;
		padding-bottom: 160px;
	}
	.posts-container-profile {
	/*	border: 1px solid black;*/
		float: right;
		position: relative;
		margin-left: 0px;
		margin-top: 42px;
		padding-top: 10px;
		padding-bottom: 300px;
	}

