#dropdown-nav {
	left: 400px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	color: #343434;
}
.navbar-inverse .navbar-brand {
	color: #343434;
}
body {
	/*text-align: center;*/
	background-image: url('/img/landingBG.png');
	text-shadow: 2px 2px 2px #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    padding-top: 0px;
}
.top {
	padding-top: 70px;
}
.guidebar {
	float: left;
	position: relative;
	margin-bottom: 30px;
	margin: 50px;
    width: 500px;
}
.default-img {
	content: url('/img/Logo-user-default.png');
}
.post-img {
	width: 150px;
    height: 130px;
    padding-top: 10%;
}
.post-img img {
	max-width: 100%;
}
.navbar-inverse {
	background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
	background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
	background-image: linear-gradient(to bottom,#FFFDFD 0,rgba(17, 179, 250, 0.31) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
}
.navbar-inverse {
	background-color: rgba(12, 152, 237, 0);
	border-color: #23C5F5;
}

/******* about *******/
	.container .jumbotron-about {
		border-radius: 6px;
		background-color: rgba(0, 0, 0, 0);
	}
	.jumbotron-about {
		padding: 30px;
		margin-bottom: 30px;
		margin-top: 75px;
		color: inherit;
		background-color: rgba(238, 238, 238, 0);
	}
	#h1-about {
		font-size: 50px;
	}
	#p-about {
		font-size: 20px;
	}
/****** contact us ******/
	.carousel {
		width: 140px; 
		height: 140px;
	}
	.contact-us {
		padding-top: 160px;
	}

/******* landing *******/
	#landing-jumbotron {
		padding-top: 0;
	}

/******* Home *******/
	.posts {
        background-color: rgba(19, 130, 199, 0.2); 
        border-radius: 6px;
        margin-bottom: 20px;  
    }
    .PostButton {
        padding-left: 0px;
		padding-bottom: 15px;
}
    }
	.pull-left {
		margin-right: 20px;
	}
	#tags_tag {
        width: 100%;
    }
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

/******* profile *******/
	.container .jumbotron-profile {
		border-radius: 6px;
		background-repeat: no-repeat;
		background-position: center;
	    padding-bottom: 130px;
	    margin-bottom: 75px;
	    height: 230px;
/*		padding-top: 15px;
		padding-bottom: 50px;
		margin-top: 51px;*/
	}
    
    .cover {
        background-image: url('/img/FancyfbBG.jpg');
    }
    
	.jumbotron-profile {
		position: relative;
	}
	.content {
		padding-top: 50px;
	}
	#about {
		color: #fff;
		background-color: #1F88F1;
		border-color: #357ebd;
	}
	#about-style {
		width: 100px;
		position: absolute;
		right: 80px;
		bottom: 10px;
	}
    .user-pic {
    	position: absolute;
		left: 250px;
		bottom: -50px;
    }	
	.profile-img {
		width: 200px;
        height: 150px;
		position: absolute;
		left: 30px;
	}
	.profile-img img {
		max-width: 100%;
	}
	p {
		text-shadow: 2px 2px 2px #FFFFFF;
	}
	.posts-container-profile {
	/*	border: 1px solid black;*/
		float: right;
		position: relative;
		margin-left: 0px;
		margin-top: 42px;
		padding-top: 10px;
		padding-bottom: 300px;
	}
	.comments {
        margin-bottom: 0;
        font-size: 12px;
        border: 1px solid rgba(0, 41, 252, 0.35);
        border-radius: 100px;
        margin: 5px;
        background-color: rgba(240, 248, 255, 0);
    }
    
    .ggl {
        margin: 5px;
        margin-bottom: 7px;
    }
    h3 {
    	margin-top: 0px;
    }
    .post-content {
    	padding-top: 30px;
		padding-bottom: 15px;
    }

